
@import"variables";
@import"mixins";

body {
  margin: 0px 100px;
}
@media screen and (max-width: 576px) {
  body {
    margin: 10px;
  }
}
@media screen and (min-width: 992px) {
  body {
    margin: 0px 200px;
  }
}

.btn {
  @include button_display;
  height: 47px;
  width: 152px;
  font-size: 17px;  
}

.btn-sm {
  @include button_display;
  height: 37.6px;
  width: 108px;
  font-size: 13px;
}

.btn-big {
  @include button_display;
  height: 56.4px;
  width: 182.4px;
  font-size: 17px;
}

.primary {
  background: $primary;
  color: white;
}

.secondary {
  background: $secondary;
  color: $primary;
  border: 1px solid $primary;
}

.danger {
    background: $danger;
    color: white;
  }
// Système de colonnes

.row {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: $column-gap;
    @include create_classes(sm);
    @media screen and (min-width: 576px){
      @include create_classes(md);
    }
    @media screen and (min-width: 992px){
      @include create_classes(lg);
    }
}

// card

.card-vt {
    @include card-vt;

    &__picture img{
      @include card-picture;
    }
    &__content{
      padding: 20px 18px 29px 25px;
    }
    &__title{
      font-weight: bold;
      margin-bottom: 20px;
    }
    &__text{
      font-size: $font-size-text;
      margin-bottom: 30px;
    }
}

//card

.card-h {
    display: flex;
    width: $card_width;
    height: $card_heigth;
    background-color: #FFFF;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.308);
    font-family: $font-fam;

    &_content_img{
      margin: 0;
    }

    &_img{
      width: 200px;
      height: 250px;
      border-radius: 10px;
      object-fit: cover;
      object-position: center;
    }

    &_info{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 40px;
    }
    &_title{
      color: black;
      font-size: 18px;
      font-weight: bold;
    }
    &_text{
      color: black;
      font-size: 16px;
      margin: 20px 0 35px 0;
    }
  }

// margin

@include create_margins;


// fonts 

@include create_font_size;

// align center

.align-center {
  text-align: center;
}
