@import"variables";
@import"mixins";
 // reset css 

*, ::after,::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.btn {
  @include button_display;
  height: 47px;
  width: 152px;
  font-size: 17px;  
}

.btn-sm {
  @include button_display;
  height: 37.6px;
  width: 108px;
  font-size: 13px;
}

.btn-big {
  @include button_display;
  height: 56.4px;
  width: 182.4px;
  font-size: 17px;
}

.primary {
  background: $primary;
  color: white;
}

.secondary {
  background: $secondary;
  color: $primary;
  border: 1px solid $primary;
}

.danger {
    background: $danger;
    color: white;
  }
// Système de colonnes

.row {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: $column-gap;
    @include create_classes(sm);
    @media screen and (min-width: 576px){
      @include create_classes(md);
    }
    @media screen and (min-width: 992px){
      @include create_classes(lg);
    }
}

// card

.card-vt {
    @include card-vt;

    &_picture{
      margin: 0;
    }
    &_img{
      @include card-picture-vt;
    }
    &_content{
      padding: 20px 18px 29px 25px;
    }
    &_title{
      font-weight: bold;
      margin-bottom: 20px;
    }
    &_text{
      font-size: $font-size-text;
      margin-bottom: 30px;
    }
}

//card

.card-h {

  @include card-h;

  &_picture{
    margin: 0;
  }

  &_img{
    @include card-picture-h;
  }

  &_content{
    @include flex_info_card;
    margin: 0 40px;
  }
  &_title{
    font-size: $font-size-title;
    font-weight: bold;
  }
  &_text{
    color: black;
    font-size: $font-size-text;
    margin: 20px 0 35px 0;
  }
}


// margin

@include create_margins;


// fonts 

@include create_font_size;

// align center

.align-center {
  text-align: center;
}

// display flex
.d-flex{
  @include display-flex;

  &-center{
    @include display-flex;
    justify-content: center;
    align-items: center;
  }

  &-column{
    @include display-flex;
    flex-direction: column;
  }

  &-center{
    @include display-flex;
    justify-content: center;
    align-items: center;
  }
}