
@import"variables";
@import"mixins";

.btn {
  @include button_display;
  height: 47px;
  width: 152px;
  font-size: 17px;  
}

.btn-sm {
  @include button_display;
  height: 37.6px;
  width: 108px;
  font-size: 13px;
}

.btn-big {
  @include button_display;
  height: 56.4px;
  width: 182.4px;
  font-size: 17px;
}

.primary {
  background: $primary;
  color: white;
}

.secondary {
  background: $secondary;
  color: $primary;
  border: 1px solid $primary;
}

.danger {
    background: $danger;
    color: white;
  }

// Système de colonnes

.row {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: $column-gap;
    @include create_classes(sm);
    @media screen and (min-width: 576px){
      @include create_classes(md);
    }
    @media screen and (min-width: 992px){
      @include create_classes(lg);
    }
}

// card

.card {
  @include card-vt;

  &__picture img{
    @include card-picture;
  }
  &__content{
    padding: 20px 18px 29px 25px;
  }
  &__title{
    font-weight: bold;
    margin-bottom: 20px;
    
  }
  &__text{
    font-size: $font-size-text;
    margin-bottom: 30px;
  }
}



