    
@import"variables";

// card
@mixin card {
    background: white;
    color: black;
    border: 1px solid #D5D5D5;
    border-radius: 10px;
    font-family: $font-fam;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.308);
}

@mixin card-vt {
    @include card;
    width: $cardwidth;
    height: $cardheight; 
}

@mixin card-h {
    @include card;
    display: flex;
    width: $card_width;
    height: $card_heigth;  
}

@mixin card-picture {
    height: 225px;
    width: 300px;
    border-radius: 9px;
    object-fit: cover;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.432);
}

@mixin flex_info_card {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@mixin button_display {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 75px;
    font-family: $font-fam;
}

@mixin create_classes($screen_size) {
    @for $i from 1 through $colsNbr {
        .col-#{$screen_size}-#{$i} {
            grid-column: span $i;
            background-color: red;
        }
    }
}

@mixin create_font_size() {
    @for $i from 1 through 4 {
        .h#{$i} {
            font-size: 60 - $i*10px;
        }
    }
}

@mixin create_margins() {
    @for $i from 1 through 5 {
        .mx#{$i} {
            margin-left: $i * 20px;
            margin-right: $i * 20px;
        }
        .my#{$i} {
            margin-top: $i * 20px;
            margin-bottom: $i * 20px;
        }
    }
}