
$test : noir ;

// ci-desous les classes boutons
$primaire : #4297EC ;
$danger : #E63A3A ;
$secondaire : #FFFF ;
$font-fam : ' Montserrat ' ;
$font-size-title : 17 px ;
$font-size-text : 15 px ;

// Système de colonnes

$colsNbr : 12 ;


// carte
$cardwidth : 300 px ;
$cardheight : 450 px ;