
// ci-desous les classes boutons
$primary : #4297EC ;
$danger : #E63A3A ;
$secondary : #FFFF ;
$font-fam : 'Montserrat' ;
$font-size-title : 17px ;
$font-size-text : 15px ;

// Système de colonnes

$colsNbr : 12 ;
$column-gap: 40px;


// carte
$cardwidth : 300px;
$cardheight : 450px;