
$test: black;

// ci-desous les classes boutons
$primary: #4297EC;
$danger: #E63A3A;
$secondary: #FFFF;
$font-fam: 'Montserrat';
// Système de colonnes 

// card
$card_width: 500px;
$card_heigth: 250px;

$colsNbr: 12;
