.btn {
  display: flex;
  height: 47px;
  width: 152px;
  border-radius: 75px;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-family: "Montserrat";
}

.btn-sm {
  display: flex;
  height: 37.6px;
  width: 108px;
  border-radius: 75px;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-family: "Montserrat";
}

.btn-big {
  display: flex;
  height: 56.4px;
  width: 182.4px;
  border-radius: 75px;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-family: "Montserrat";
}

.primary {
  background: #4297EC;
  color: white;
}

.danger {
  background: #E63A3A;
  color: white;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.row .col-sm-1 {
  grid-column: span 1;
  background-color: red;
}
.row .col-sm-2 {
  grid-column: span 2;
  background-color: red;
}
.row .col-sm-3 {
  grid-column: span 3;
  background-color: red;
}
.row .col-sm-4 {
  grid-column: span 4;
  background-color: red;
}
.row .col-sm-5 {
  grid-column: span 5;
  background-color: red;
}
.row .col-sm-6 {
  grid-column: span 6;
  background-color: red;
}
.row .col-sm-7 {
  grid-column: span 7;
  background-color: red;
}
.row .col-sm-8 {
  grid-column: span 8;
  background-color: red;
}
.row .col-sm-9 {
  grid-column: span 9;
  background-color: red;
}
.row .col-sm-10 {
  grid-column: span 10;
  background-color: red;
}
.row .col-sm-11 {
  grid-column: span 11;
  background-color: red;
}
.row .col-sm-12 {
  grid-column: span 12;
  background-color: red;
}
@media screen and (min-width: 576px) {
  .row .col-md-1 {
    grid-column: span 1;
    background-color: red;
  }
  .row .col-md-2 {
    grid-column: span 2;
    background-color: red;
  }
  .row .col-md-3 {
    grid-column: span 3;
    background-color: red;
  }
  .row .col-md-4 {
    grid-column: span 4;
    background-color: red;
  }
  .row .col-md-5 {
    grid-column: span 5;
    background-color: red;
  }
  .row .col-md-6 {
    grid-column: span 6;
    background-color: red;
  }
  .row .col-md-7 {
    grid-column: span 7;
    background-color: red;
  }
  .row .col-md-8 {
    grid-column: span 8;
    background-color: red;
  }
  .row .col-md-9 {
    grid-column: span 9;
    background-color: red;
  }
  .row .col-md-10 {
    grid-column: span 10;
    background-color: red;
  }
  .row .col-md-11 {
    grid-column: span 11;
    background-color: red;
  }
  .row .col-md-12 {
    grid-column: span 12;
    background-color: red;
  }
}
@media screen and (min-width: 992px) {
  .row .col-lg-1 {
    grid-column: span 1;
    background-color: red;
  }
  .row .col-lg-2 {
    grid-column: span 2;
    background-color: red;
  }
  .row .col-lg-3 {
    grid-column: span 3;
    background-color: red;
  }
  .row .col-lg-4 {
    grid-column: span 4;
    background-color: red;
  }
  .row .col-lg-5 {
    grid-column: span 5;
    background-color: red;
  }
  .row .col-lg-6 {
    grid-column: span 6;
    background-color: red;
  }
  .row .col-lg-7 {
    grid-column: span 7;
    background-color: red;
  }
  .row .col-lg-8 {
    grid-column: span 8;
    background-color: red;
  }
  .row .col-lg-9 {
    grid-column: span 9;
    background-color: red;
  }
  .row .col-lg-10 {
    grid-column: span 10;
    background-color: red;
  }
  .row .col-lg-11 {
    grid-column: span 11;
    background-color: red;
  }
  .row .col-lg-12 {
    grid-column: span 12;
    background-color: red;
  }
}

/*# sourceMappingURL=output.css.map */
