*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 75px;
  font-family: "Montserrat";
  height: 47px;
  width: 152px;
  font-size: 17px;
}

.btn-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 75px;
  font-family: "Montserrat";
  height: 37.6px;
  width: 108px;
  font-size: 13px;
}

.btn-big {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 75px;
  font-family: "Montserrat";
  height: 56.4px;
  width: 182.4px;
  font-size: 17px;
}

.primary {
  background: #4297EC;
  color: white;
}

.secondary {
  background: white;
  color: #4297EC;
  border: 1px solid #4297EC;
}

.danger {
  background: #E63A3A;
  color: white;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 40px;
}
.row .col-sm-1 {
  grid-column: span 1;
  background-color: rgb(255, 255, 255);
}
.row .col-sm-2 {
  grid-column: span 2;
  background-color: rgb(255, 255, 255);
}
.row .col-sm-3 {
  grid-column: span 3;
  background-color: rgb(255, 255, 255);
}
.row .col-sm-4 {
  grid-column: span 4;
  background-color: rgb(255, 255, 255);
}
.row .col-sm-5 {
  grid-column: span 5;
  background-color: rgb(255, 255, 255);
}
.row .col-sm-6 {
  grid-column: span 6;
  background-color: rgb(255, 255, 255);
}
.row .col-sm-7 {
  grid-column: span 7;
  background-color: rgb(255, 255, 255);
}
.row .col-sm-8 {
  grid-column: span 8;
  background-color: rgb(255, 255, 255);
}
.row .col-sm-9 {
  grid-column: span 9;
  background-color: rgb(255, 255, 255);
}
.row .col-sm-10 {
  grid-column: span 10;
  background-color: rgb(255, 255, 255);
}
.row .col-sm-11 {
  grid-column: span 11;
  background-color: rgb(255, 255, 255);
}
.row .col-sm-12 {
  grid-column: span 12;
  background-color: rgb(255, 255, 255);
}
@media screen and (min-width: 576px) {
  .row .col-md-1 {
    grid-column: span 1;
    background-color: rgb(255, 255, 255);
  }
  .row .col-md-2 {
    grid-column: span 2;
    background-color: rgb(255, 255, 255);
  }
  .row .col-md-3 {
    grid-column: span 3;
    background-color: rgb(255, 255, 255);
  }
  .row .col-md-4 {
    grid-column: span 4;
    background-color: rgb(255, 255, 255);
  }
  .row .col-md-5 {
    grid-column: span 5;
    background-color: rgb(255, 255, 255);
  }
  .row .col-md-6 {
    grid-column: span 6;
    background-color: rgb(255, 255, 255);
  }
  .row .col-md-7 {
    grid-column: span 7;
    background-color: rgb(255, 255, 255);
  }
  .row .col-md-8 {
    grid-column: span 8;
    background-color: rgb(255, 255, 255);
  }
  .row .col-md-9 {
    grid-column: span 9;
    background-color: rgb(255, 255, 255);
  }
  .row .col-md-10 {
    grid-column: span 10;
    background-color: rgb(255, 255, 255);
  }
  .row .col-md-11 {
    grid-column: span 11;
    background-color: rgb(255, 255, 255);
  }
  .row .col-md-12 {
    grid-column: span 12;
    background-color: rgb(255, 255, 255);
  }
}
@media screen and (min-width: 992px) {
  .row .col-lg-1 {
    grid-column: span 1;
    background-color: rgb(255, 255, 255);
  }
  .row .col-lg-2 {
    grid-column: span 2;
    background-color: rgb(255, 255, 255);
  }
  .row .col-lg-3 {
    grid-column: span 3;
    background-color: rgb(255, 255, 255);
  }
  .row .col-lg-4 {
    grid-column: span 4;
    background-color: rgb(255, 255, 255);
  }
  .row .col-lg-5 {
    grid-column: span 5;
    background-color: rgb(255, 255, 255);
  }
  .row .col-lg-6 {
    grid-column: span 6;
    background-color: rgb(255, 255, 255);
  }
  .row .col-lg-7 {
    grid-column: span 7;
    background-color: rgb(255, 255, 255);
  }
  .row .col-lg-8 {
    grid-column: span 8;
    background-color: rgb(255, 255, 255);
  }
  .row .col-lg-9 {
    grid-column: span 9;
    background-color: rgb(255, 255, 255);
  }
  .row .col-lg-10 {
    grid-column: span 10;
    background-color: rgb(255, 255, 255);
  }
  .row .col-lg-11 {
    grid-column: span 11;
    background-color: rgb(255, 255, 255);
  }
  .row .col-lg-12 {
    grid-column: span 12;
    background-color: rgb(255, 255, 255);
  }
}

.card-vt {
  background: white;
  color: black;
  border: 1px solid #D5D5D5;
  border-radius: 10px;
  font-family: "Montserrat";
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.308);
  width: 300px;
  height: 450px;
}
.card-vt_picture {
  margin: 0;
}
.card-vt_img {
  height: 225px;
  width: 300px;
  border-radius: 9px;
  object-fit: cover;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.432);
}
.card-vt_content {
  padding: 20px 18px 29px 25px;
}
.card-vt_title {
  font-weight: bold;
  margin-bottom: 20px;
}
.card-vt_text {
  font-size: 15px;
  margin-bottom: 30px;
}

.card-h {
  background: white;
  color: black;
  border: 1px solid #D5D5D5;
  border-radius: 10px;
  font-family: "Montserrat";
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.308);
  display: flex;
  width: 500px;
  height: 250px;
}
.card-h_picture {
  margin: 0;
}
.card-h_img {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.432);
}
.card-h_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 40px;
}
.card-h_title {
  font-size: 17px;
  font-weight: bold;
}
.card-h_text {
  color: black;
  font-size: 15px;
  margin: 20px 0 35px 0;
}

.mx-1 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mx-2 {
  margin-left: 40px;
  margin-right: 40px;
}

.my-2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mx-3 {
  margin-left: 60px;
  margin-right: 60px;
}

.my-3 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mx-4 {
  margin-left: 80px;
  margin-right: 80px;
}

.my-4 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mx-5 {
  margin-left: 100px;
  margin-right: 100px;
}

.my-5 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.h1 {
  font-size: 50px;
}

.h2 {
  font-size: 40px;
}

.h3 {
  font-size: 30px;
}

.h4 {
  font-size: 20px;
}

.align-center {
  text-align: center;
}

.d-flex {
  display: flex;
}
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
}
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=output.css.map */
